@import "nullstyle.scss";
@import "animations-extenders.scss";

@font-face {
      font-family: "Asap";
      src: url("/fonts/Asap-VariableFont_wght.eot");
      src: local("☺"), url("/fonts/Asap-VariableFont_wght.woff") format("woff"),
            url("/fonts/Asap-VariableFont_wght.ttf") format("truetype"),
            url("/fonts/Asap-VariableFont_wght.svg") format("svg");
      font-weight: normal;
      font-style: normal;
}

body {
      height: 100%;
      font-family: Asap, sans-serif;
      background-color: #ffffff;
      color: #000000;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
}

.wrapper {
      min-height: 100%;
      padding: 0px;
      display: flex;
      flex-direction: column;
      overflow: hidden;
}

.container {
      max-width: 1170px;
      margin: 0px auto;
}

.link {
      font-size: 12px;
      line-height: 29px;
      color: #7d7d7d;
      text-transform: uppercase;
}

.selected {
      font-weight: 700;
}

.hidden {
      opacity: 0;
      pointer-events: none;
}

.row-header {
      font-size: 26px;
      line-height: 37px;
      font-weight: 700;
      text-transform: capitalize;
      margin: 0px 0px 20px 0px;
      padding: 0px 0px 0px 20px;
}
@media (min-width: 1060px) {
      .row-header {
            font-size: 32px;
      }
}
@media (min-width: 1160px) {
      .row-header {
            padding: 0px;
      }
}

.row-subheader {
      font-size: 24px;
      line-height: 28px;
      color: #9b9b9b;
}
.button {
      display: inline-block;
      font-size: 13px;
      line-height: 192%;
      font-weight: 700;
      padding: 6px 20px;
      text-transform: uppercase;
      color: #ffffff;
      background-color: #b4141b;
}
.button:hover {
      text-shadow: 0px 0px 5px #ffffff;
}
.button:active {
      text-shadow: 0px 0px 10px #ffffff;
}

// ---------------------HEADER----------------------------
.header {
      &__social {
            background-color: #0e77af;
            color: #ffffff;
            padding: 12px 0px;
      }

      &__row-social {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 5px;
      }
      @media (min-width: 1175px) {
            &__row-social {
                  padding: 0px;
            }
      }

      &__column-social {
      }

      &__column-item-social {
            display: flex;
            align-items: center;
      }

      &__column-item-social > a {
            display: flex;
            align-items: center;
            margin: 0px 21px 0px 0px;
      }
      &__column-item-social > a:last-child {
            margin: 0px;
      }
      &__column-item-social > p {
            font-size: 12px;
            line-height: 14px;
            padding: 0px 10px 0px 0px;
      }
      @media (min-width: 1190px) {
            &__column-item-social > p {
                  padding: 0px 5px 0px 0px;
            }
      }
      @media (min-width: 1200px) {
            &__column-item-social > p {
                  padding: 0;
            }
      }

      &__master {
            background-color: #f2f2f2;
            color: #000000;
            padding: 20px 0px 24px 0px;
      }

      &__row-master {
            display: flex;
            align-items: center;
            padding: 0 5px;
      }
      @media (min-width: 750px) {
            &__row-master {
                  justify-content: space-between;
            }
      }
      @media (min-width: 1175px) {
            &__row-master {
                  padding: 0px;
            }
      }

      @media (max-width: 750px) {
            &__column-master:nth-child(2) {
                  flex: 1 1 auto;
                  display: flex;
                  justify-content: end;
            }
      }

      &__column-master:not(:last-child) {
            padding: 0px 20px 0 0;
      }

      &__item-master {
      }

      &__master-logo {
      }

      &__menu-master {
      }

      &__phone {
            display: flex;
      }

      &__phone-icon {
            margin: 12px;
      }

      &__call-number {
            display: flex;
            flex-direction: column;
            justify-content: center;
      }
      &__call-number > p:first-child {
            color: #7d7d7d;
            font-size: 14px;
            line-height: 16.04px;
            text-transform: capitalize;
      }
      &__call-number > p:last-child {
            font-size: 16px;
            line-height: 18.34px;
            text-transform: uppercase;
      }

      .menu {
            display: none;
      }
      @media (min-width: 750px) {
            .menu {
                  display: block;
                  &__list {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                  }

                  &__item {
                        margin: 0 30px 0 0;
                        padding: 10px 0px;
                        text-transform: uppercase;
                        font-size: 14px;
                        line-height: 16.04px;
                  }
                  &__item:hover {
                        text-decoration: underline;
                  }
                  &__item:last-child {
                        margin: 0px;
                  }
            }
      }
      .burger {
            // position: relative;

            &__button {
                  width: 60px;
                  height: 30px;
                  overflow: hidden;
                  display: flex;
                  flex-direction: column;
                  cursor: pointer;
                  border-radius: 3px;
            }
            &__button:hover {
                  box-shadow: 0px 0px 7px 0px #7d7d7d;
            }
            &__button:active {
                  box-shadow: 0px 0px 10px 0px #7d7d7d;
            }

            &__line {
                  height: 15px;
                  border-bottom: 2px solid #000000;
            }
            &__line:first-child {
                  border-top: 2px solid #000000;
            }

            &__list-wrapper {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: fit-content;
                  max-height: 80%;
                  background-color: #f2f2f2;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  box-shadow: 0px 0px 3px 1px #000000;
                  overflow: hidden;
                  transition: 0.3s;
                  z-index: 100;
            }

            &__list-item {
                  position: relative;
            }

            &__close-button {
                  font-size: 12px;
                  position: absolute;
                  top: 20px;
                  right: -55%;
                  cursor: pointer;
                  text-align: center;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  text-decoration: underline;
            }
            @media (min-width: 390px) {
                  &__close-button {
                        right: -65%;
                  }
            }
            &__close-button:hover {
                  text-shadow: 0px 0px 15px #7d7d7d;
            }
            &__close-button:active {
                  text-shadow: 0px 0px 5px #1d1d1d;
            }

            &__list {
                  padding: 10px;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  flex-wrap: wrap;
            }

            &__item {
                  flex: 1 1 auto;
                  font-size: 10px;
                  line-height: 12px;
                  margin: 10px 20px;
                  text-align: center;
                  text-transform: uppercase;
                  border-bottom: 1px solid #f2f2f2;
            }
            @media (min-height: 400px) {
                  &__item {
                        font-size: 12px;
                        line-height: 14px;
                        margin: 10px 20px;
                        text-align: center;
                        text-transform: uppercase;
                  }
            }
            @media (min-height: 520px) {
                  &__item {
                        font-size: 14px;
                        line-height: 16.04px;
                        margin: 10px 20px;
                        text-align: center;
                        text-transform: uppercase;
                  }
            }

            &__item:hover {
                  text-decoration: underline;
            }

            &__item > a {
                  color: #000000;
            }
      }
      @media (min-width: 750px) {
            .burger {
                  display: none;
            }
      }
}

// ------------------------MAIN---------------------------
.main {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
}

.slider {
      margin: 0 auto;

      &__body {
            position: relative;
            display: flex;
      }

      &__nav-button {
            position: absolute;
            cursor: pointer;
            z-index: 50;
            width: 15%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            transition: 0.15s;
      }
      &__nav-button:hover {
            opacity: 0.7;
            background-color: rgba(14, 119, 175, 0.3);
      }
      &__nav-button:active {
            opacity: 0.4;
            background-color: rgba(14, 119, 175, 0.4);
      }

      &__button-left {
            right: 87%;
      }
      &__button-right {
            left: 87%;
      }
      @media (min-width: 1280px) {
            &__nav-button {
                  width: auto;
                  height: auto;
                  padding: 10px;
                  top: 50%;
            }
            &__nav-button:hover {
                  opacity: 0.7;
                  background-color: inherit;
            }
            &__nav-button:active {
                  opacity: 0.4;
                  background-color: inherit;
            }
            &__button-left {
                  right: 90%;
            }
            &__button-rigth {
                  left: 90%;
            }
      }

      &__row {
            width: 100vw;
            padding: 0 0 0 0;
            flex: 1 1 auto;
            position: relative;
            display: flex;
      }

      &__background {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            object-fit: cover;
            z-index: 1;
      }
      @media (min-width: 1000px) {
            &__background {
                  width: 100vw;
                  object-position: 10% 0;
            }
      }

      &__column {
            position: relative;
            min-width: 50%;
            z-index: 3;
            display: flex;
            align-items: center;
            padding: 15% 0;
      }
      &__column-item {
            padding: 0px 15% 0px 15%;
      }

      @media (min-width: 1280px) {
            &__column {
                  left: 50vw;
            }
            &__column-item {
                  max-width: 450px;
                  padding: 0px 30px 0px 0px;
            }
      }
      @media (min-width: 1460px) {
            &__column-item {
                  max-width: 600px;
                  padding: 0px 30px 0px 0px;
            }
      }
      @media (min-width: 1640px) {
            &__column-item {
                  max-width: 700px;
                  padding: 0px 30px 0px 0px;
            }
      }

      &__subtitle {
            font-size: 22px;
            line-height: 32px;
            letter-spacing: 0.5px;
            margin: 0 0 5% 0;
      }

      &__title {
            font-size: 42px;
            line-height: 76px;
            font-weight: 700;
            letter-spacing: 2px;
            margin: 0 0 5% 0;
      }

      &__message {
            font-size: 24px;
            line-height: 131%;
            margin: 0px 0px 20% 0px;
            letter-spacing: 0.5px;
      }

      &__button {
            display: inline-block;
            font-size: 22px;
            text-transform: uppercase;
            color: #ffffff;
            text-align: center;
            padding: 26px 70px 26px 70px;
            background-color: #b4141b;
            letter-spacing: 0.5px;
      }
      &__button:hover {
            text-shadow: 0px 0px 5px #ffffff;
      }
      @media (min-width: 600px) {
            &__subtitle {
                  font-size: 28px;
                  line-height: 32px;
                  letter-spacing: 2px;
            }
            &__title {
                  font-size: 84px;
                  line-height: 96px;
                  font-weight: 700;
                  letter-spacing: 1px;
            }

            &__message {
                  font-size: 32px;
                  line-height: 131%;
                  margin: 0px 0px 40px 0px;
                  letter-spacing: 2px;
            }

            &__button {
                  display: inline-block;
                  font-size: 24px;
                  text-transform: uppercase;
                  color: #ffffff;
                  text-align: center;
                  padding: 26px 70px 26px 70px;
                  background-color: #b4141b;
                  letter-spacing: 2px;
            }
      }
}
.info {
      padding: 25px 0px;
}
@media (min-width: 820px) {
      .info {
            padding: 35px 0px;
      }
}
@media (min-width: 1280px) {
      .info {
            padding: 85px 0px 135px 0px;
      }
}

.info {
      &__row {
            display: flex;
            flex-direction: column;
      }
      @media (min-width: 1060px) {
            &__row {
                  flex-direction: row;
                  justify-content: space-between;
            }
      }

      &__column {
      }
      @media (min-width: 1060px) {
            &__column:first-child {
                  max-width: 66%;
            }
            &__column:last-child {
                  max-width: 30%;
            }
      }

      &__about {
            display: flex;
            flex-direction: column;
            min-height: 100%;
      }

      &__why {
      }
      @media (min-width: 1060px) {
            &__why {
                  display: flex;
                  flex-direction: column;
                  min-height: 100%;
            }
      }
}
.about {
      margin: 0px 0px 20px 0px;

      &__header {
      }

      &__container {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            min-height: 100%;
      }

      &__image {
            flex: 1 1 auto;
            position: relative;
            padding: 0 0 60% 0;
      }
      @media (min-width: 1170px) {
            &__image {
                  padding: 0 0 71% 0;
            }
      }

      &__image > img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom;
      }

      &__message {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            justify-content: center;
            font-size: 20px;
            line-height: 150%;
            padding: 20px 20px 0px 20px;
      }
      @media (min-width: 1060px) {
            &__message {
                  font-size: 16px;
                  line-height: 181%;
            }
      }
      @media (min-width: 1170px) {
            &__message {
                  padding: 20px 0px 0px 0px;
            }
      }
      &__message > p {
            display: inline-block;
      }
      &__message > p:not(:last-child) {
            display: inline-block;
            margin: 0 0 20px 0;
      }
      @media (min-width: 1060px) {
            &__message > p:not(:last-child) {
                  margin: 0 0 40px 0;
            }
      }
      @media (min-width: 1170px) {
            &__message > p:not(:last-child) {
                  margin: 0 0 60px 0;
            }
      }
}
.why {
      &__header {
            display: flex;
      }

      &__cards {
            display: flex;
      }
      @media (min-width: 1060px) {
            &__cards {
                  flex-direction: column;
                  flex: 1 1 auto;
            }
      }

      &__card {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            max-width: 33.333%;
            padding: 20px 10px;
      }
      @media (min-width: 800px) {
            &__card {
                  padding: 45px 37px;
            }
      }
      @media (min-width: 1060px) {
            &__card {
                  padding: 45px 37px;
                  max-width: 100%;
                  min-height: 33.333%;
                  flex: 1 1 auto;
            }
      }

      &__card:nth-child(1) {
            background: linear-gradient(180deg, #f8f8f8 0%, #f7f7f7 100%);
      }
      &__card:nth-child(2) {
            background: linear-gradient(180deg, #f3f3f3 2.58%, #f3f3f3 100%);
      }
      &__card:nth-child(3) {
            background: linear-gradient(180deg, #fcfcfc 0%, #f7f7f7 100%);
      }

      &__card-header {
            display: flex;
            flex-direction: column-reverse;
            flex-wrap: wrap-reverse;
            align-items: center;
            justify-content: center;
            text-transform: capitalize;
            margin: 0 0 17px 0;
      }

      &__card-header > img {
            min-height: 36px;
      }

      @media (min-width: 450px) {
            &__card-header {
                  flex-direction: row;
                  justify-content: space-between;
                  min-height: auto;
            }

            &__card-header > img {
                  min-height: auto;
            }
      }

      &__card-header > h3 {
            font-size: 16px;
            line-height: 33px;
            color: #0e77af;
      }
      @media (min-width: 800px) {
            &__card-header > h3 {
                  font-size: 24px;
            }
      }

      &__card-message {
            font-size: 12px;
            line-height: 156%;
            margin: 0 0 17px 0;
            flex: 1 1 auto;
      }
      @media (min-width: 450px) {
            &__card-message {
                  font-size: 16px;
            }
      }

      &__link {
      }
}

.benefits {
      margin: 0px 0px 20px 0px;
}
@media (min-width: 1060px) {
      .benefits {
            margin: 0px 0px 135px 0px;
      }
}

.benefits {
      &__row {
            position: relative;
            z-index: 1;
      }
      @media (min-width: 1060px) {
            &__row {
                  display: flex;
            }
      }

      &__column {
            display: flex;
            flex: 1 1 auto;
      }

      @media (min-width: 1060px) {
            &__column:last-child {
                  max-width: 43%;
            }
      }

      &__tabs {
            position: relative;
            padding: 34.48% 0 0 0;
            flex: 1 1 auto;
      }
      @media (min-width: 1060px) {
            &__tabs {
                  display: flex;
                  padding: 17.23% 0;
                  justify-content: flex-end;
            }
      }

      &__tabs > img {
            position: absolute;
            z-index: 0;
            top: 0;
            right: 0;
            width: 100vw;
            height: 100%;
            object-fit: cover;
            object-position: right;
      }
      @media (min-width: 1060px) {
            &__tabs > img {
                  object-position: 100% 90%;
            }
      }

      &__tabs-container {
            position: relative;
            display: flex;
            padding: 0 14px 0 6px;
      }
      @media (min-width: 1060px) {
            &__tabs-container {
                  flex-direction: column;
                  padding: 0;
            }
      }

      &__tab {
            font-size: 11px;
            font-weight: 700;
            line-height: 16px;
            color: #ffffff;
            background-color: rgba(14, 119, 175, 0.9);
            padding: 10px;
            margin: 0 5px 0 0;
            min-width: 30%;
            min-height: fit-content;
            display: flex;
            flex: 1 1 auto;
            align-items: center;
            cursor: pointer;
            transition: 0.15s;
      }
      @media (min-width: 1060px) {
            &__tab {
                  padding: 35px;
            }
            &__tab:not(:last-child) {
                  margin: 0 0 4.17% 0;
            }
      }
      &__tab:hover {
            text-shadow: 0px 0px 10px #ffffff;
            background-color: rgba(14, 119, 175, 0.7);
      }
      &__tab:active {
            text-shadow: 0px 0px 10px #ffffff;
            color: #000000;
            background-color: rgba(255, 255, 255, 0.9);
      }
      &__tab:last-child {
            margin: 0;
      }

      &__tab-selected {
            cursor: default;
            color: #000000;
            background-color: rgba(255, 255, 255, 0.9);
      }
      &__tab-selected:hover {
            color: #000000;
            background-color: rgba(255, 255, 255, 0.9);
      }

      @media (min-width: 440px) {
            &__tab {
                  font-size: 14px;
            }
      }

      @media (min-width: 530px) {
            &__tab {
                  font-size: 16px;
            }
      }

      @media (min-width: 852px) {
            &__tab {
                  line-height: 25px;
            }
      }

      @media (min-width: 1060px) {
            &__tab {
                  font-size: 22px;
                  line-height: 25px;
            }
      }

      &__descriptions {
            background: linear-gradient(180deg, #fcfcfc 0%, #f8f8f8 100%);
            padding: 10px 10px 20px 10px;
            flex: 1 1 auto;
      }
      @media (min-width: 1060px) {
            &__descriptions {
                  display: flex;
                  justify-content: center;
                  padding: 53px 13px 57px 50px;
            }
      }

      &__description {
            flex: 1 1 auto;
            padding: 10px 0px 0px 0px;
      }
      @media (min-width: 1060px) {
            padding: 0;
      }
}
.description {
      &__title {
            margin: 0 0 3px 0;
      }

      &__subtitle {
            font-size: 20px;
            margin: 0 0 20px 0;
      }

      &__text {
            font-size: 18px;
            line-height: 150%;
            margin: 0 0 30px 0;
      }

      &__text-item {
      }
      &__text-item::before {
            content: "• ";
      }

      &__button {
      }
}

.provide {
      margin: 0 0 20px 0;
}
@media (min-width: 1060px) {
      .provide {
            margin: 0 0 161px 0;
      }
}
.provide {
      &__row {
      }
      @media (min-width: 1060px) {
            &__row {
                  display: flex;
                  justify-content: space-between;
            }
      }

      &__column {
            display: flex;
      }
      @media (min-width: 1060px) {
            &__column:first-child {
                  width: 51.3%;
            }
            &__column:last-child {
                  width: 40.6%;
            }
      }

      &__services {
            min-width: 100%;
      }

      &__security {
      }
}
.services {
      padding: 10px;
}
@media (min-width: 1060px) {
      .services {
            padding: 0px;
      }
}
.services {
      &__title {
      }
      @media (min-width: 1060px) {
            &__title {
                  margin: 0 0 9px 0;
            }
      }

      &__subtitle {
            font-size: 20px;
            margin: 0 0 20px 0;
      }

      &__spoilers {
      }

      &__spoiler {
            margin: 0 0 21px 0;
      }
      @media (min-width: 1060px) {
            &__spoiler {
                  margin: 0 0 42px 0;
            }
      }
}
.spoiler {
      &__row-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 0 15px 0;
            margin: 0 0 16px 0;
            border-bottom: 1px solid #979797;
            min-width: 100%;
      }

      @media (min-width: 1060px) {
            &__row-head {
                  padding: 0 0 25px 0;
                  margin: 0 0 32px 0;
            }
      }

      &__title {
            font-size: 20px;
            line-height: 24px;
            font-weight: 700;
            color: #0e77af;
      }
      @media (min-width: 1060px) {
            &__title {
                  font-size: 24px;
                  line-height: 28px;
            }
      }

      &__control {
            position: relative;
            z-index: 10;
            display: flex;
            align-items: center;
            min-height: 20px;
            cursor: pointer;
      }

      &__expander {
            padding: 0px 14px 0px 0px;
            display: flex;
            align-items: center;
            pointer-events: none;
      }
      @media (min-width: 1060px) {
            &__expander {
                  padding: 0;
            }
      }
      &__expander > img {
            display: inline-block;
      }

      &__minimizer {
            padding: 0px 14px 0px 0px;
            display: flex;
            align-items: center;
            pointer-events: none;
      }
      @media (min-width: 1060px) {
            &__minimizer {
                  padding: 0;
            }
      }
      &__minimizer > img {
            display: inline-block;
      }

      &__row-body {
            display: flex;
            flex-direction: column;
      }
      @media (min-width: 550px) {
            &__row-body {
                  display: flex;
                  flex-direction: row;
            }
      }

      &__column {
            min-width: 33.333%;
            min-height: 100%;
            flex: 1 1 auto;
      }
      &__column:last-child {
            display: flex;
            align-items: center;
      }
      &__column:first-child {
            margin: 0px 20px 0px 0px;
      }

      &__image {
            position: relative;
            padding: 20% 0;
            min-height: inherit;
            margin: 0 0 15px 0;
      }
      @media (min-width: 550px) {
            &__image {
                  margin: 0;
                  padding: 30% 0;
            }
      }
      &__image > img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
      }

      &__container {
            display: flex;
            flex-direction: column;
      }

      &__message {
            font-size: 18px;
            line-height: 150%;
            margin: 0px 0px 20px 0px;
            padding: 0px 14px 0px 0px;
      }
      @media (min-width: 550px) {
            &__message {
                  padding: 0;
            }
      }
      @media (min-width: 1060px) {
            &__message {
                  font-size: 16px;
                  line-height: 181%;
            }
      }

      &__link {
      }
}
@media (min-width: 1060px) {
      .spoiler {
            margin: 0 0 47px 0;
      }
}
.security {
      padding: 10px 10px 20px 10px;
}
@media (min-width: 1060px) {
      .security {
            padding: 0;
      }
}
.security {
      &__title {
      }
      @media (min-width: 1060px) {
            &__title {
                  margin: 0 0 9px 0;
            }
      }

      &__subtitle {
            font-size: 20px;
            margin: 0 0 20px 0;
      }
      @media (min-width: 1060px) {
            &__subtitle {
                  margin: 0 0 47px 0;
            }
      }

      &__image {
            position: relative;
            padding: 30% 0;
            margin: 0 0 10px 0;
      }
      @media (min-width: 440px) {
            &__image {
                  padding: 25%;
            }
      }
      @media (min-width: 520px) {
            &__image {
                  padding: 23%;
            }
      }
      @media (min-width: 610px) {
            &__image {
                  padding: 18%;
            }
      }
      @media (min-width: 1060px) {
            &__image {
                  margin: 0 0 58px 0;
            }
      }

      &__image > img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
      }

      &__message {
            font-size: 18px;
            line-height: 150%;
            margin: 0 0 30px 0;
      }
      @media (min-width: 1060px) {
            &__message {
                  font-size: 16px;
                  line-height: 181%;
                  margin: 0 0 53px 0;
            }
      }

      &__button {
      }
}
.testimonials {
      padding: 30px 0;
      background-color: #0e77af;
}
@media (min-width: 1060px) {
      .testimonials {
            padding: 148px 0px;
      }
}

.testimonials {
      &__row {
      }
      @media (min-width: 1060px) {
            &__row {
                  display: flex;
                  justify-content: space-between;
            }
      }

      &__column {
      }

      &__column:first-child {
            color: #ffffff;
      }
      @media (min-width: 1060px) {
            &__column:first-child {
                  width: 30%;
            }
            &__column:last-child {
                  width: 63.3%;
            }
      }

      &__item {
            display: flex;
            flex-direction: column;
            padding: 0px 10px 0px 10px;
            min-height: 100%;
      }
      @media (min-width: 1060px) {
            &__item {
                  padding: 0px;
            }
      }

      &__title {
            margin: 0px 0px 9px 0px;
      }

      &__subtitle {
            margin: 0px 0px 20px 0px;
      }
      @media (min-width: 1060px) {
            &__subtitle {
                  font-size: 24px;
                  line-height: 28px;
                  flex: 1 1 auto;
            }
      }

      &__message {
            font-size: 22px;
            font-weight: 700;
      }
      @media (min-width: 1060px) {
            &__message {
                  font-size: 64px;
                  line-height: 73px;
            }
      }

      &__submessage {
            font-size: 18px;
            margin: 0px 0px 20px 0px;
      }
      @media (min-width: 1060px) {
            &__submessage {
                  font-size: 28px;
                  line-height: 32px;
                  flex: 1 1 auto;
            }
      }

      &__buttons {
            font-size: 18px;
            display: flex;
            justify-content: flex-end;
            margin: 0 0 10px 0;
            padding: 0px 20px 0px 0px;
      }
      @media (min-width: 1060px) {
            &__buttons {
                  font-size: 28px;
                  line-height: 32px;
                  justify-content: flex-start;
            }
      }

      &__button {
            cursor: pointer;
      }
      &__button:hover {
            text-shadow: 0px 0px 5px #ffffff;
      }
      &__button:active {
            text-shadow: 0px 0px 10px #ffffff;
      }

      &__button-left {
            margin: 0px 10px 0px 0px;
      }

      &__button-right {
            margin: 0px 0px 0px 10px;
      }

      &__container {
      }

      &__testimonial {
      }
}
.testimonial {
      padding: 30px 15px 35px 15px;
      background-color: #ffffff;
}
@media (min-width: 1060px) {
      .testimonial {
            padding: 75px 59px 82px 45px;
      }
}

.testimonial {
      &__title {
            font-size: 20px;
            line-height: 23px;
            font-weight: 700;
            margin: 0 0 20px 0;
      }
      @media (min-width: 1060px) {
            &__title {
                  font-size: 20px;
                  line-height: 23px;
                  margin: 0 0 17px 0;
            }
      }

      &__text {
            font-size: 16px;
            line-height: 181%;
            margin: 0 0 40px 0;
      }
      @media (min-width: 1060px) {
            &__text {
                  margin: 0 0 54px 0;
            }
      }

      &__author {
            font-size: 16px;
            line-height: 18px;
            font-weight: 700;
      }
}
.clients {
      padding: 30px 0;
}
@media (min-width: 1060px) {
      .clients {
            padding: 125px 0 0 0;
            margin: 0 0 228px 0;
      }
}
.clients {
      &__row {
            padding: 10px;
      }
      @media (min-width: 1060px) {
            &__row {
                  display: flex;
                  padding: 0px;
            }
      }

      &__column {
            display: flex;
            justify-content: center;
            min-width: 50%;
      }
      @media (min-width: 1060px) {
            &__column:last-child {
                  justify-content: flex-end;
            }
      }

      &__item {
            padding: 10px 0 0 0;
            flex: 1 1 auto;
      }
      @media (min-width: 1060px) {
            &__item {
                  padding: 54px 0 0 0;
            }
      }

      &__subitem {
            margin: 0 0 30px 0;
            border-bottom: 1px solid #979797;
      }
      @media (min-width: 1060px) {
            &__subitem {
                  border-bottom: none;
            }
      }
      &__subitem:last-child {
            margin: 0 0 10px 0;
      }

      &__form {
            height: fit-content;
      }
}

.subitem {
      &__title {
      }
      @media (min-width: 1060px) {
            &__title {
                  margin: 0 0 9px 0;
            }
      }

      &__subtitle {
            font-size: 20px;
            margin: 0 0 20px 0;
      }
      @media (min-width: 1060px) {
            font-size: 24px;
            line-height: 28px;
            margin: 0 0 24px 0;
      }

      &__text {
            font-size: 18px;
            line-height: 150%;
            margin: 0 0 30px 0;
      }
      @media (min-width: 1060px) {
            font-size: 16px;
            line-height: 181%;
            margin: 0 0 34px 0;
      }

      &__link {
            display: block;
            text-align: right;
            padding: 5px;
            margin: 0 0 10px 0;
      }
      @media (min-width: 1060px) {
            &__link {
                  font-size: 12px;
                  line-height: 242%;
                  text-align: left;
                  padding: 0;
            }
      }
}
.form {
      background: linear-gradient(180deg, #fcfcfc 0%, #f7f7f7 100%);
      display: flex;
      flex-direction: column;
      max-width: 474px;
      flex: 1 1 auto;
      padding: 10px 10px 20px 10px;
}
@media (min-width: 474px) {
      .form {
            padding: 0px 40px 20px 40px;
      }
}
@media (min-width: 1060px) {
      .form {
            padding: 54px 48px 52px 38px;
      }
}
.form {
      &__title {
      }
      @media (min-width: 1060px) {
            &__title {
                  margin: 0 0 46px 0;
            }
      }

      &__input {
            display: block;
            width: 100%;
            font-size: 16px;
            line-height: 18px;
            padding: 15px 10px;
            border: 2px solid #e2e2e2;
            margin: 0 0 20px 0;
      }
      @media (min-width: 1060px) {
            &__input {
                  padding: 19px 0px 18px 13px;
                  margin: 0 0 37px 0;
            }
      }

      &__button {
            padding: 5px 35px;
            align-self: flex-end;
            margin: 0 2px 0 0;
      }
      @media (min-width: 1060px) {
            &__button {
                  font-size: 12px;
                  line-height: 192%;
                  padding: 6px 39px;
                  margin: 0 3px 0 0;
            }
      }
}

// ------------------------FOOTER-------------------------

.footer {
      padding: 10px 0 0 0;
}
@media (min-width: 1060px) {
      .footer {
            padding: 0;
      }
}
.footer {
      background-color: #4a4a4a;
      color: #ffffff;

      &__row {
            display: flex;
            flex-direction: column;
            padding: 0px 10px;
      }
      @media (min-width: 1060px) {
            &__row {
                  flex-direction: row;
                  padding: 0;
            }
            &__row:first-child {
                  margin: -98px 0 110px 0;
            }
            &__row:nth-child(2) {
                  margin: 0 0 127px 0;
            }
      }

      &__column {
            flex: 1 1 auto;
            margin: 0 0 20px 0;
      }
      @media (min-width: 1060px) {
            &__column {
                  max-width: 33.333%;
            }
      }

      &__column-top {
            margin: 0 0 10px 0;
      }
      @media (min-width: 1060px) {
            &__column-top {
                  min-height: 196px;
            }
      }

      &__row &__column-top:nth-child(1) {
            background-color: #5f5f5f;
      }
      &__row &__column-top:nth-child(2) {
            background-color: #6c6c6c;
      }
      &__row &__column-top:nth-child(3) {
            background-color: #7b7b7b;
      }

      &__item {
            display: flex;
            position: relative;
            align-items: center;
      }
      @media (min-width: 1060px) {
            &__item {
                  height: 100%;
                  align-items: flex-start;
            }
      }

      &__social {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
      }
      @media (min-width: 1060px) {
            &__social {
                  justify-content: flex-start;
            }
      }

      &__social &__image {
            margin: auto;
      }
      @media (min-width: 1060px) {
            &__social &__image {
                  width: 40px;
                  height: 40px;
                  margin: 0px 32px 0px 0px;
            }
            &__social &__image img {
                  width: 40px;
                  height: 40px;
            }
      }

      &__image {
            display: block;
            top: 63%;
            width: 27px;
            height: 27px;
            position: relative;
            margin: 0px 16px;
      }
      @media (min-width: 1060px) {
            &__image {
                  top: 43%;
            }
      }
      &__image > img {
            position: absolute;
            top: 0;
            left: 0;
            width: 27px;
            height: 27px;
            object-fit: fill;
      }

      &__row &__column-top &__text {
            margin: auto;
            text-align: center;
      }
      @media (min-width: 1060px) {
            &__row &__column-top &__text {
                  padding: 40px 0 0 0;
                  align-items: flex-start;
                  text-align: left;
                  margin: 0;
            }
      }

      &__text {
            display: flex;
            flex-direction: column;
            width: 100%;
      }

      &__title {
            font-size: 20px;
            line-height: 150%;
            margin: 0 0 20px 0;
      }
      @media (min-width: 1060px) {
            &__title {
                  margin: 0 0 45px 0;
            }
      }

      &__subtitle {
            font-size: 16px;
            line-height: 150%;
            color: #ffffff;
      }

      @media (min-width: 1060px) {
            &__row:nth-child(2) &__text {
                  margin: 0px 0px 0px 59px;
            }
            &__row:nth-child(2) &__column:first-child &__item &__text {
                  margin: 0px;
            }
      }

      &__subtitle-link {
            font-size: 14px;
      }

      &__subtitle-link:hover {
            text-decoration: underline;
      }
      &__subtitle-link:active {
            text-shadow: 0px 0px 10px #ffffff;
      }

      &__copyrights {
            background-color: #363636;
      }

      &__copyrights-text {
            color: #ffffff;
            padding: 10px;
      }
      @media (min-width: 1060px) {
            &__copyrights-text {
                  font-size: 16px;
                  line-height: 181%;
                  padding: 42px 0px 42px 0;
            }
      }
}
.contact-title {
      margin: 0 0 10px 0;
}

// -----------------------ADDITIONAL---------------------
.hider {
      display: none;
}
